<section class="section text-center section--company company" id="company" data-color="dark">

    <p class="section__title dots-title h4 white">
        A FEW WORDS ABOUT OUR COMPANY
    </p>

    <div class="text container container--lg">
        <p>
            <b>MANTOR</b> is developed in order to respond to the quick changing environment of the financial markets regulation, forcing <b>External Asset Managers (EAM)</b> to adapt their organisation, merge and relocate, because of <b class="white">(1) no free access for financial services</b> from their local base location to other main prospective markets, <b class="white">(2) increasing regulation and (3) increasing tax compliance obligations</b> for asset under management (AUM).
        </p>
    </div>  

    <span class="btn block-center">discover mantor</span>

    <div class="scroll-next flex flex--column flex--align-center">
        <span class="text-uppercase">scroll down</span>
        <img src="./svg/arrow.svg" alt="" class="icon white">
    </div>

</section>