<section class="section section--concept concept main-color" id="concept">
    <div class="container">
    
        <div class="section__title dots-title text-center block block-center main-color">
            THE CONCEPT
        </div>

        <div class="concept__img-block text-center rel flex flex--column flex--justify-center">
            <img src="./images/concept.png" class="w-100" alt="">
            
            <div class="text block-center">
                <p class="italic">
                    Mantor is based on three major opportunities
                </p>
                <p class="italic">
                    Team, Timing and Services in order to assist investors and their professional advisors
                </p>
            </div>
        </div>


        <p class="section__title blue-title uppercase h1">
            MANTOR FOUNDING TEAM
        </p>
        <p class="section__title blue-title uppercase h1">
            IS MADE OF EXPERTS AND SKILLED BUSINESSMEN
        </p>

        <p class="mb-50 mt-50">
            Some of them are board members of a Swiss self-regulatory organisation for External Asset Managers, as defined in the Swiss Anti-Money-Laundering Act (AMLA) of October 17, 1997. This team has worked together for more than ten years, has acquired an <b>extensive expertise in terms of EAM regulation</b> and is recognised for its integrity and pragmatic common sense. It grew the number of affiliated firms from two hundred to more than five hundred, accrediting above two thousand professionals and supervising their financial activities.
        </p>

        <p class="section__title block-center bold">
            EXPERIENCE OF THE PRINCIPALS
        </p>
    </div>

</section>