<section class="section section--content section--banner banner flex flex--center flex--column" id="banner">

    <img src="./images/design-home-content.png" class="banner__img" alt="">

    <p class="section__title h3" data-aos-delay="300">
        POWERED FOR EAMs AND THEIR CLIENTS
    </p>

    <div class="scroll-next flex flex--column flex--align-center" data-aos-delay="600">
        <span class="text-uppercase">scroll down</span>
        <img src="./svg/arrow.svg" alt="" class="icon">
    </div>

</section>