.btn
    position: relative
    display: flex
    align-items: center
    justify-content: center
    padding: 15px 5px
    cursor: pointer
    width: max-content
    min-width: 220px
    min-height: 60px
    font-family: 'title'
    text-transform: uppercase
    background-color: $c-white
    border-radius: 10px
    font-size: 16px
    color: $c-main
    text-align: center 
    line-height: 1em
    will-change: transform
    transition: all .2s
    user-select: none

    +sm
        font-size: 15px
    +mob-hor
        font-size: 15px

    
    &--with-arrow
        display: flex
        align-items: center
        &::after
            content: ''
            display: block
            position: relative
            mask: url('../svg/arrow.svg')
            -webkit-mask-position: center
            -webkit-mask-size: contain
            -webkit-mask-repeat: no-repeat
            size: 14px 8px
            background: $c-main
            margin-left: 10px
            transition: .15s

    &:hover
        transform: translateY(-3px)
        background-color: $c-gold
        box-shadow: 0 3px 0 #9a8667
        color: $c-white

    &:active
        box-shadow: 0 0px 0 #9a8667
        transform: translateY(1px)
        transition: all .1s


    &.opened
        &::after
            transform: rotateZ(180deg)