<header class="header">
    <div class="container flex flex--justify-between flex--align-center">
        <a href="/" class="header__logo">
            <img src="images/logo.png" alt="">
        </a>
        
        <nav class="header__nav nav">
            <ul class="nav__list flex flex--justify-between">
                <li class="nav__item">
                    <a href="#company">company</a>
                </li>
                <li class="nav__item">
                    <a href="#concept">concept</a>
                </li>
                <li class="nav__item">
                    <a href="#tools">tools</a>
                </li>
                <li class="nav__item">
                    <a href="#market">market place</a>
                </li>
                <li class="nav__item">
                    <a href="#contact">contact</a>
                </li>
            </ul>
        
        </nav>



        <div class="header__mobile mobile">
        
            <nav class="mobile__nav nav">
                <ul class="nav__list flex flex--column flex--justify-between">
                    <li class="nav__item">
                        <a href="#about">О Нас</a>
                    </li>
                    <li class="nav__item">
                        <a href="#suggestion">Предлагаем</a>
                    </li>
                    <li class="nav__item">
                        <a href="#conditions">Условия</a>
                    </li>
                    <li class="nav__item">
                        <a href="#testimonials">Отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#faq">FAQ</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact">Анкета</a>
                    </li>
                </ul>
            
            </nav>
        
        </div>


        <div class="header__burger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </div>
</header>