.home

    .section
        // min-height: 250px
        padding-top: 70px
        padding-bottom: 70px
        &:nth-child(odd)
            background-color: #eee
            // color: $c-light
        +r(980)
            padding-top: 30px
            padding-bottom: 30px

        &__container

            @extend .container
            @extend .container--lg

        &__title
            font-weight: normal 




    @import "./home-sections/banner"
    @import "./home-sections/company"