{% set page_title = "static Mantor" %}
{% set main_class = "home" %}

{% extends "partials/layout.html" %}

{# start of page content #}
{% block content %}

    {% include "./partials/_header.html" %}

    {% include "./sections/_head-banner.html" %}

    {% include "./sections/_company.html" %}

    {% include "./sections/_concept.html" %}

    <section class="section section--full-height"></section>
    <section class="section section--full-height"></section>
    <section class="section section--full-height"></section>


{% endblock %}