@font-face
    font-family: 'DIN'
    src: url("../fonts/DIN/DIN-Light.otf") format('truetype')
    font-weight: 300
@font-face
    font-family: 'DIN'
    src: url("../fonts/DIN/DIN-Regular.otf") format('truetype')
    font-weight: normal
@font-face
    font-family: 'DIN'
    src: url("../fonts/DIN/DIN-Bold.otf") format('truetype')
    font-weight: bold
@font-face
    font-family: 'Title'
    src: url('../../fonts/fonttitle.eot')
    src: url('../../fonts/fonttitle.eot?#iefix') format('embedded-opentype'),      url('../../fonts/fonttitle.woff') format('woff'), 
         url('../../fonts/fonttitle.ttf') format('truetype'), 
         url('../../fonts/fonttitle.svg#fonttitle') format('svg')
    font-weight: normal
@font-face
    font-family: 'Text'
    src: url('../../fonts/fonttext.eot');
    src: url('../../fonts/fonttext.eot?#iefix') format('embedded-opentype'),       url('../../fonts/fonttext.woff') format('woff'), 
         url('../../fonts/fonttext.ttf') format('truetype'), 
         url('../../fonts/fonttext.svg#fonttext') format('svg');
    font-weight: normal;
    font-style: normal